.btn_blue {
  color: white;
  background-color: rgb(6, 150, 212);
}
.btn_red {
  color: white;
  background-color: rgb(213, 18, 18);
}
.btn_green {
  color: white;
  background-color: rgb(14, 180, 50);
}
